[Unit]
Description=Cliphist text watcher
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/wl-paste --type text --watch cliphist store
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
